<!--
/**
 * 考核试卷 列表页 JS 脚本
 * @author 金杰 , maillank@qq.com
 * @since 2024-03-16 17:56:39
 */
 -->
 <!DOCTYPE html>
<html style="background-color: #FFFFFF;">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8"/>
    <meta name="referrer" content="no-referrer">
	<title th:text="${lang.translate('考核试卷')}">考核试卷</title>
    <link th:if(theme.ico!="null") rel="shortcut icon" th:href="${theme.ico}" type="image/vnd.microsoft.icon">
    <link th:if(theme.ico!="null") rel="icon" th:href="${theme.ico}" type="image/vnd.microsoft.icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css" th:href="'/assets/libs/layui/css/layui.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/css/admin.css" th:href="'/assets/css/admin.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/libs/toast/css/toast.css" type="text/css" th:href="'/assets/libs/toast/css/toast.css?'+${cacheKey}">
    <link rel="stylesheet" href="/assets/css/foxnic-web.css" th:href="'/assets/css/foxnic-web.css?'+${cacheKey}"/>
    <link href="/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/assets/libs/material-design-webfont/css/material-design-icons-min.css" rel="stylesheet">
    <script th:inline="javascript">var foxnic_cachekey=[[${cacheKey}]];</script>
    <style>
    </style>
    <link th:each="css:${theme.css}" rel="stylesheet" th:href="${css}+'?'+${cacheKey}">
</head>

<body style="overflow-y: hidden;">
<div class="form-container" >

    <form id="data-form" lay-filter="data-form" class="layui-form model-form" style="opacity:0">


         <!--开始：group 循环-->


        <div class="layui-row form-row" id="default-content">

             <!--开始：column 循环-->
            <!-- 只有当非第一个分组没有title时才使 padding-top 为 0 -->
            <div class="layui-col-xs12 form-column" >

                <!-- text_input : 主键 ,  id -->
                <div class="layui-form-item" style="display: none"inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('主键')}">主键</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="id" id="id" name="id" th:placeholder="${ lang.translate('请输入'+'主键') }" type="text" class="layui-input"  />
                    </div>
                </div>
            
                <!-- text_input : 任务 ,  billTaskDtlId -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('任务')}">任务</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="billTaskDtlId" id="billTaskDtlId" name="billTaskDtlId" th:placeholder="${ lang.translate('请输入'+'任务') }" type="text" class="layui-input"  />
                    </div>
                </div>
            
                <!-- text_input : 任务 ,  billId -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('任务')}">任务</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="billId" id="billId" name="billId" th:placeholder="${ lang.translate('请输入'+'任务') }" type="text" class="layui-input"  />
                    </div>
                </div>
            
                <!-- text_input : 任务 ,  billTaskId -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('任务')}">任务</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="billTaskId" id="billTaskId" name="billTaskId" th:placeholder="${ lang.translate('请输入'+'任务') }" type="text" class="layui-input"  />
                    </div>
                </div>
            
                <!-- text_input : 关系 ,  relationship -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('关系')}">关系</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="relationship" id="relationship" name="relationship" th:placeholder="${ lang.translate('请输入'+'关系') }" type="text" class="layui-input"  />
                    </div>
                </div>
            
                <!-- button : 考核人 ,  assessorId  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('考核人')}">考核人</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="assessorId" id="assessorId" name="assessorId"  type="hidden" class="layui-input"   />
                        <button id="assessorId-button" type="button" action-type="emp-dialog" class="layui-btn   " style="width: 100%" default-width="100%" auto-width="false"> <i class='layui-icon layui-icon-search'></i> <span th:text="${lang.translate('请选择人员')}" th:default-label="${lang.translate('请选择人员')}">按钮文本</span></button>
                    </div>
                </div>
            
                <!-- button : 被考核人 ,  assesseeId  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('被考核人')}">被考核人</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="assesseeId" id="assesseeId" name="assesseeId"  type="hidden" class="layui-input"   />
                        <button id="assesseeId-button" type="button" action-type="emp-dialog" class="layui-btn   " style="width: 100%" default-width="100%" auto-width="false"> <i class='layui-icon layui-icon-search'></i> <span th:text="${lang.translate('请选择人员')}" th:default-label="${lang.translate('请选择人员')}">按钮文本</span></button>
                    </div>
                </div>
            
                <!-- number_input : 综合得分 ,  scoreValue  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('综合得分')}">综合得分</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="scoreValue" id="scoreValue" name="scoreValue" th:placeholder="${ lang.translate('请输入'+'综合得分') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="0" />
                    </div>
                </div>
            
                <!-- text_area : 综合评价 ,  evaluateContent  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('综合评价')}">综合评价</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <textarea lay-filter="evaluateContent" id="evaluateContent" name="evaluateContent" th:placeholder="${ lang.translate('请输入'+'综合评价') }" class="layui-textarea" style="height: 250px" ></textarea>
                    </div>
                </div>
            
                <!-- text_input : 用户 ,  userMapId -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('用户')}">用户</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="userMapId" id="userMapId" name="userMapId" th:placeholder="${ lang.translate('请输入'+'用户') }" type="text" class="layui-input"  />
                    </div>
                </div>
            
                <!-- text_input : 说明 ,  content -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('说明')}">说明</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="content" id="content" name="content" th:placeholder="${ lang.translate('请输入'+'说明') }" type="text" class="layui-input"  />
                    </div>
                </div>
            
                <!-- text_input : 修改人ID ,  updateBy -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('修改人ID')}">修改人ID</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="updateBy" id="updateBy" name="updateBy" th:placeholder="${ lang.translate('请输入'+'修改人ID') }" type="text" class="layui-input"  />
                    </div>
                </div>
            
                <!-- text_input : name ,  name -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('name')}">name</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="name" id="name" name="name" th:placeholder="${ lang.translate('请输入'+'name') }" type="text" class="layui-input"  />
                    </div>
                </div>
            <!--结束：栏次内字段循环-->
            </div>
            <!--结束：栏次输入框循环-->
        </div>
        <!--结束：group循环-->

        <div style="height: 8px"></div>


    </form>

</div>
<div class="model-form-footer">
    <button class="layui-btn layui-btn-primary" id="cancel-button" lay-filter="cancel-button" type="button" th:text="${lang.translate('取消','','form.button')}" >取消</button>
    <button th:if="${perm.checkAnyAuth('hr_assessment_bill_task_paper:create','hr_assessment_bill_task_paper:update','hr_assessment_bill_task_paper:save')}" class="layui-btn" style="margin-right: 15px;display: none;"  id="submit-button" lay-filter="submit-button" lay-submit th:text="${lang.translate('保存','','form.button')}">保存</button>
</div>

<script type="text/javascript" src="/module/global.js" th:src="'/module/global.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/jquery-3.2.1.min.js" th:src="'/assets/libs/jquery-3.2.1.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/pandyle.min.js" th:src="'/assets/libs/pandyle.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/layui/layui.js" th:src="'/assets/libs/layui/layui.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/toast/js/toast.js" th:src="'/assets/libs/toast/js/toast.js?'+${cacheKey}"></script>
<script th:inline="javascript">
    var LAYUI_TABLE_WIDTH_CONFIG = [[${layuiTableWidthConfig}]];
    var VALIDATE_CONFIG={};
    var AUTH_PREFIX="hr_assessment_bill_task_paper";


</script>



<script th:src="'/business/hr/assessment_bill_task_paper/assessment_bill_task_paper_ext.js?'+${cacheKey}"></script>
<script th:src="'/business/hr/assessment_bill_task_paper/assessment_bill_task_paper_form.js?'+${cacheKey}"></script>

</body>
</html>