<!--
/**
 * 人员薪酬 列表页 JS 脚本
 * @author 金杰 , maillank@qq.com
 * @since 2024-02-02 09:12:27
 */
 -->
 <!DOCTYPE html>
<html style="background-color: #FFFFFF;">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8"/>
    <meta name="referrer" content="no-referrer">
	<title th:text="${lang.translate('人员薪酬')}">人员薪酬</title>
    <link th:if(theme.ico!="null") rel="shortcut icon" th:href="${theme.ico}" type="image/vnd.microsoft.icon">
    <link th:if(theme.ico!="null") rel="icon" th:href="${theme.ico}" type="image/vnd.microsoft.icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css" th:href="'/assets/libs/layui/css/layui.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/css/admin.css" th:href="'/assets/css/admin.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/libs/toast/css/toast.css" type="text/css" th:href="'/assets/libs/toast/css/toast.css?'+${cacheKey}">
    <link rel="stylesheet" href="/assets/css/foxnic-web.css" th:href="'/assets/css/foxnic-web.css?'+${cacheKey}"/>
    <link href="/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/assets/libs/material-design-webfont/css/material-design-icons-min.css" rel="stylesheet">
    <script th:inline="javascript">var foxnic_cachekey=[[${cacheKey}]];</script>
    <style>
    </style>
    <link th:each="css:${theme.css}" rel="stylesheet" th:href="${css}+'?'+${cacheKey}">
</head>

<body style="overflow-y: hidden;">
<div class="form-container" >

    <form id="data-form" lay-filter="data-form" class="layui-form model-form" style="opacity:0">

        <input name="id" id="id"  type="hidden"/>


        <fieldset class="layui-elem-field layui-field-title form-group-title" id="random-5730-fieldset">
            <legend>五险一金</legend>
        </fieldset>

        <div class="layui-row form-row" id="random-5730-content">

             <!--开始：column 循环-->
            <!-- 只有当非第一个分组没有title时才使 padding-top 为 0 -->
            <div class="layui-col-xs4 form-column" >

                <!-- number_input : 住房公积金基数 ,  welfareZfgjjBase  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('住房公积金基数')}">住房公积金基数</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfareZfgjjBase" id="welfareZfgjjBase" name="welfareZfgjjBase" th:placeholder="${ lang.translate('请输入'+'住房公积金基数') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            
                <!-- number_input : 医疗保险基数 ,  welfaerYrbxBase  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('医疗保险基数')}">医疗保险基数</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfaerYrbxBase" id="welfaerYrbxBase" name="welfaerYrbxBase" th:placeholder="${ lang.translate('请输入'+'医疗保险基数') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            
                <!-- number_input : 工伤保险基数 ,  welfaerGsbxBase  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('工伤保险基数')}">工伤保险基数</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfaerGsbxBase" id="welfaerGsbxBase" name="welfaerGsbxBase" th:placeholder="${ lang.translate('请输入'+'工伤保险基数') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            
                <!-- number_input : 养老保险基数 ,  welfaerYlbxBase  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('养老保险基数')}">养老保险基数</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfaerYlbxBase" id="welfaerYlbxBase" name="welfaerYlbxBase" th:placeholder="${ lang.translate('请输入'+'养老保险基数') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            
                <!-- number_input : 生育保险基数 ,  welfaerSybxBase  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('生育保险基数')}">生育保险基数</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfaerSybxBase" id="welfaerSybxBase" name="welfaerSybxBase" th:placeholder="${ lang.translate('请输入'+'生育保险基数') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            
                <!-- number_input : 失业保险基数 ,  welfaerSyebxBase  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('失业保险基数')}">失业保险基数</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfaerSyebxBase" id="welfaerSyebxBase" name="welfaerSyebxBase" th:placeholder="${ lang.translate('请输入'+'失业保险基数') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            <!--结束：栏次内字段循环-->
            </div>
             <!--开始：column 循环-->
            <!-- 只有当非第一个分组没有title时才使 padding-top 为 0 -->
            <div class="layui-col-xs4 form-column" >

                <!-- number_input : 住房公积金个人 ,  welfareZfgjjPerson  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('住房公积金个人')}">住房公积金个人</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfareZfgjjPerson" id="welfareZfgjjPerson" name="welfareZfgjjPerson" th:placeholder="${ lang.translate('请输入'+'住房公积金个人') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            
                <!-- number_input : 医疗保险个人 ,  welfaerYrbxPerson  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('医疗保险个人')}">医疗保险个人</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfaerYrbxPerson" id="welfaerYrbxPerson" name="welfaerYrbxPerson" th:placeholder="${ lang.translate('请输入'+'医疗保险个人') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            
                <!-- number_input : 工伤保险个人 ,  welfaerGsbxPerson  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('工伤保险个人')}">工伤保险个人</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfaerGsbxPerson" id="welfaerGsbxPerson" name="welfaerGsbxPerson" th:placeholder="${ lang.translate('请输入'+'工伤保险个人') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            
                <!-- number_input : 养老保险个人 ,  welfaerYlbxPerson  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('养老保险个人')}">养老保险个人</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfaerYlbxPerson" id="welfaerYlbxPerson" name="welfaerYlbxPerson" th:placeholder="${ lang.translate('请输入'+'养老保险个人') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            
                <!-- number_input : 生育保险个人 ,  welfaerSybxPerson  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('生育保险个人')}">生育保险个人</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfaerSybxPerson" id="welfaerSybxPerson" name="welfaerSybxPerson" th:placeholder="${ lang.translate('请输入'+'生育保险个人') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            
                <!-- number_input : 失业保险个人 ,  welfaerSyebxPerson  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('失业保险个人')}">失业保险个人</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfaerSyebxPerson" id="welfaerSyebxPerson" name="welfaerSyebxPerson" th:placeholder="${ lang.translate('请输入'+'失业保险个人') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            <!--结束：栏次内字段循环-->
            </div>
             <!--开始：column 循环-->
            <!-- 只有当非第一个分组没有title时才使 padding-top 为 0 -->
            <div class="layui-col-xs4 form-column" >

                <!-- number_input : 住房公积金公司 ,  welfareZfgjjCompany  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('住房公积金公司')}">住房公积金公司</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfareZfgjjCompany" id="welfareZfgjjCompany" name="welfareZfgjjCompany" th:placeholder="${ lang.translate('请输入'+'住房公积金公司') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            
                <!-- number_input : 医疗保险公司 ,  welfaerYrbxCompany  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('医疗保险公司')}">医疗保险公司</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfaerYrbxCompany" id="welfaerYrbxCompany" name="welfaerYrbxCompany" th:placeholder="${ lang.translate('请输入'+'医疗保险公司') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            
                <!-- number_input : 工伤保险公司 ,  welfaerGsbxCompany  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('工伤保险公司')}">工伤保险公司</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfaerGsbxCompany" id="welfaerGsbxCompany" name="welfaerGsbxCompany" th:placeholder="${ lang.translate('请输入'+'工伤保险公司') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            
                <!-- number_input : 养老保险公司 ,  welfaerYlbxCompany  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('养老保险公司')}">养老保险公司</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfaerYlbxCompany" id="welfaerYlbxCompany" name="welfaerYlbxCompany" th:placeholder="${ lang.translate('请输入'+'养老保险公司') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            
                <!-- number_input : 生育保险公司 ,  welfaerSybxCompany  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('生育保险公司')}">生育保险公司</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfaerSybxCompany" id="welfaerSybxCompany" name="welfaerSybxCompany" th:placeholder="${ lang.translate('请输入'+'生育保险公司') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            
                <!-- number_input : 失业保险公司 ,  welfaerSyebxCompany  -->
                <div class="layui-form-item" inlines=""  inline-delta="0" input-width="">
                    <div class="layui-form-label "><div th:text="${lang.translate('失业保险公司')}">失业保险公司</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="welfaerSyebxCompany" id="welfaerSyebxCompany" name="welfaerSyebxCompany" th:placeholder="${ lang.translate('请输入'+'失业保险公司') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="2"  value="0.0" />
                    </div>
                </div>
            <!--结束：栏次内字段循环-->
            </div>
            <!--结束：栏次输入框循环-->
        </div>
         <!--开始：group 循环-->



        <div style="height: 8px"></div>
        <div style="height: 80px"></div>


    </form>

</div>
<div class="model-form-footer">
    <button class="layui-btn layui-btn-primary" id="cancel-button" lay-filter="cancel-button" type="button" th:text="${lang.translate('取消','','form.button')}" >取消</button>
    <button th:if="${perm.checkAnyAuth('hr_salary:create','hr_salary:update','hr_salary:save')}" class="layui-btn" style="margin-right: 15px;display: none;"  id="submit-button" lay-filter="submit-button" lay-submit th:text="${lang.translate('保存','','form.button')}">保存</button>
</div>

<script type="text/javascript" src="/module/global.js" th:src="'/module/global.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/jquery-3.2.1.min.js" th:src="'/assets/libs/jquery-3.2.1.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/pandyle.min.js" th:src="'/assets/libs/pandyle.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/layui/layui.js" th:src="'/assets/libs/layui/layui.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/toast/js/toast.js" th:src="'/assets/libs/toast/js/toast.js?'+${cacheKey}"></script>
<script th:inline="javascript">
    var LAYUI_TABLE_WIDTH_CONFIG = [[${layuiTableWidthConfig}]];
    var RADIO_PERSONALSTATUS_DATA = [[${enum.toArray('com.dt.platform.constants.enums.common.StatusEnableEnum')}]];
    var VALIDATE_CONFIG={};
    var AUTH_PREFIX="hr_salary_51";

</script>



<script th:src="'/business/hr/salary/salary_51_ext.js?'+${cacheKey}"></script>
<script th:src="'/business/hr/salary/salary_51_form.js?'+${cacheKey}"></script>

</body>
</html>