<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8"/>
    <meta name="referrer" content="no-referrer">
    <title th:text="${lang.translate('组件')}">组件</title>
    <link th:if(theme.ico!="null") rel="shortcut icon" th:href="${theme.ico}" type="image/vnd.microsoft.icon">
    <link th:if(theme.ico!="null") rel="icon" th:href="${theme.ico}" type="image/vnd.microsoft.icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css" th:href="'/assets/libs/layui/css/layui.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/css/admin.css" th:href="'/assets/css/admin.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/libs/toast/css/toast.css" type="text/css" th:href="'/assets/libs/toast/css/toast.css?'+${cacheKey}">
    <link rel="stylesheet" href="/assets/css/foxnic-web.css" th:href="'/assets/css/foxnic-web.css?'+${cacheKey}">
    <link href="/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/assets/libs/material-design-webfont/css/material-design-icons-min.css" rel="stylesheet">
    <link rel="stylesheet" href="/business/oa/portal/portal.css" th:href="'/business/oa/portal/portal.css?'+${cacheKey}"/>
    <script th:inline="javascript">var foxnic_cachekey=[[${cacheKey}]];</script>
    <script type="text/javascript" src="/assets/libs/jquery-3.2.1.min.js" th:src="'/assets/libs/jquery-3.2.1.min.js?'+${cacheKey}"></script>
    <style>
    </style>
    <link th:each="css:${theme.css}" rel="stylesheet" th:href="${css}+'?'+${cacheKey}">
</head>
<body>
<div class="portal-container">
    <div class="layui-row">
            <div class="layui-card" id="card">
                <div class="layui-card-header">
                    <div class="oa-portal-card-item-none">
                        <a class="oa-portal-card-item-title">我的流程</a>
                    </div>
                </div>
                <div class="layui-card-body" style="background-color: white;" >
                    <div class="system-div">
                        <div class="column process-instance-column">
                            <div class="layui-tab layui-tab-brief" lay-filter="process-instances-tab">
                                <ul class="layui-tab-title">
                                    <li class="layui-this" catalog="approving" id="tab-approving">待我处理</li>
                                    <li catalog="drafted"  id="tab-drafted">我的申请</li>
                                    <li catalog="approved" id="tab-approved">我已处理</li>
                                    <li catalog="drafting" id="tab-drafting">我的草稿</li>
                                </ul>
                                <div class="layui-tab-content">
                                    <div class="layui-tab-item layui-show">
                                        <div class="process-instances-list process-instances-list-approving">
                                        </div>
                                    </div>
                                    <div class="layui-tab-item">
                                        <div class="process-instances-list process-instances-list-drafted">
                                        </div>
                                    </div>
                                    <div class="layui-tab-item">
                                        <div class="process-instances-list process-instances-list-approved">
                                        </div>
                                    </div>
                                    <div class="layui-tab-item">
                                        <div class="process-instances-list process-instances-list-drafting">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script  th:inline="javascript">

    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }
    var parHeight=350;
    if(getUrlParam("height")){
        parHeight=getUrlParam("height");
    }
    $("#card").css("height",parHeight+"px");

</script>

<script type="text/javascript" src="/module/global.js" th:src="'/module/global.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/pandyle.min.js" th:src="'/assets/libs/pandyle.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/layui/layui.js" th:src="'/assets/libs/layui/layui.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/toast/js/toast.js" th:src="'/assets/libs/toast/js/toast.js?'+${cacheKey}"></script>
<script th:src="'/business/oa/portal/part_my_flow.js?'+${cacheKey}"></script>
</body>
</html>
